body {
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
    
}

body, ul {
    margin: 0;
}

nav{
    display: flex;
    background-color: rgb(29, 9, 9);
    position: relative;
    top: 40px;
}

h1{
    margin: 20px 50px;
}

nav ul {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
}


nav ul li {
    margin: 0;
    list-style-type: none;
    font-size: 24px;
    padding: 1.2rem;
    margin: auto 1.5rem;
}

ul li{
    list-style: none;
}

ul li a:hover{
    color: white;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.778);
}
main {
    display: flex;
    align-items: center;
} 
.img_main{
    background-image: url(../images/plato_sushi.png);
    width: 90vw;
    height: 90vh;
    margin-left: -20rem;
}



.txt_main{
    position: relative;
    top: 40%;
    left: 8%;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    min-width: 35vw;
}
.texto-grande{
    font-size: 40px;
    display: flex;
    margin-left: -3rem;


}

footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: rgb(0, 0, 0);
}

.logo_copy_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_copy_footer p{
    margin-top: 0;
}

.logo_copy_footer h3{
    margin-bottom: 0;
}

.rrss_footer{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 40px;
}

.lista_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 15px;
}

i {
    font-size: 30px;
    margin: 15px;
    margin-bottom: 0;
}



