body {
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
    
}

body, ul {
    margin: 0;
}

nav{
    display: flex;
    height: 4.5rem;
    background-color: rgb(29, 14, 14);
    position: relative;
    top: 40px;
}

nav h1{
    margin: 20px 6rem;
}

nav ul {
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
}


nav ul li {
    list-style-type: none;
    font-size: 18px;
    padding-left: 40px;
}

nav a img{
    height: 30px;
}

ul li{
    list-style: none;
}

ul li a:hover{
    color: white;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.778);
}

main {
    display: flex;
    align-items: center;
} 
.img_main{
    background-image: url(../images/plato_sushi.png);
    width: 90vw;
    height: 90vh;
    margin-left: -20rem;
}



.txt_main{
    position: relative;
    top: 40%;
    left: 8%;
    font-family:'Times New Roman', Times, serif;
    min-width: 35vw;
}

.txt_main h3 {
    font-size: 35px;
}

.txt_main .texto-grande{
    font-size: 40px;
    display: flex;


}

footer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: rgb(0, 0, 0);
}

.logo_copy_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_copy_footer p{
    margin-top: 0;
}

.logo_copy_footer{
    margin-bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}


.rrss_footer{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 40px;
    padding-left: 5rem;
    font-size: 14px;
}


.lista_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 15rem;
}
.rrss_footer p{
    margin-top: 5px;
}

i {
    font-size: 25px;
    margin: 15px;
    margin-bottom: 0;
}


.email{
    text-align: center;
}

.logo-footer{
    width: 65%;
}

main{
    display: flex;
    flex-direction: column;
}
.seccion1_main{
    display: flex;
    flex-direction: row;
}

.seccion1_main img{
    width: 20%;
    margin: 8rem 8rem 1rem 1rem;;
}
.titulo_nuestro_espacio{
    width: 60%;
    margin: 8rem 4rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.seccion1_main h1{
    margin: 0 0 3rem 0;
    font-size: 35px;
}
.seccion1_main h2, h3{
    font-size: 18px;
    margin-right: 2rem;
}

.seccion2_main{
    display: flex;
    gap: 15%;
    margin-left: -8rem;
    margin-top: 2rem;
}
.seccion2_main img{
    width: 26%;
}

main p{
    font-size: 21px;
    margin: 4rem 8rem 2rem 6rem;
}

.seccion3_main {
    margin-top: 3rem;
    margin-left: -1rem;
    display: flex;
    justify-content: space-between;
}

.seccion3_main img {
    width: 44%;
}





